attrs==25.3.0
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1733208806608/work
h11==0.16.0
idna==3.10
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1733223141826/work
outcome==1.3.0.post0
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1745345660/work
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1733222765875/work
pycparser==2.22
PySocks==1.7.1
pytest @ file:///home/conda/feedstock_root/build_artifacts/pytest_1740946542080/work
python-dotenv==1.1.0
requests==2.32.3
selenium==4.15.2
setuptools==80.1.0
sniffio==1.3.1
sortedcontainers==2.4.0
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1733256695513/work
trio==0.30.0
trio-websocket==0.12.2
urllib3==2.4.0
webdriver-manager==4.0.0
wheel==0.45.1
wsproto==1.2.0
